@model BO.BOVIPTable

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_VIPSharedView.cshtml";
}
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/employee.js"></script>*@



<script>
     $( function() {
         $("#Date").datepicker();
     });

     //$("#StartTime").timepicker();

</script>


<br />
<br />
<br />
<div>
    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Appointment</button><br /><br />
        <table class="table table-hover table-bordered  ">
            <thead>
                <tr class="success">
                    <th>
                        ID
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        StartTime
                    </th>
                    <th>
                        EndTime
                    </th>
                    <th>
                        IsAvailable
                    </th>

                    <th>
                        Action
                    </th>

                </tr>
            </thead>
            <tbody class="tbody"></tbody>

        </table>
    </div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add Appointment</h4>
                </div>

                <div class="modal-body">
                    <form id="myform">
                        <div class="form-group">
                            <label for="AppointmentId">ID</label>
                            <input type="text" class="form-control" id="AppointmentId" placeholder="Id" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="Date">Date</label>
                            <input type="text" class="form-control" id="Date" placeholder="Date" />
                        </div>
                        <div class="form-group">
                            <label for="StartTime">StartTime</label>
                            <input type="text" class="form-control" id="StartTime" placeholder="StartTime" />
                        </div>
                        <div class="form-group">
                            <label for="EndTime">EndTime</label>
                            <input type="text" class="form-control" id="EndTime" placeholder="EndTime" />
                        </div>
                        <div class="form-group">
                            <label for="IsAvailable">IsAvailable</label>
                            <input type="text" class="form-control" id="IsAvailable" placeholder="IsAvailable" />
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>


