
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SoftwareSharedView.cshtml";
}

<h2 >Appointment Management System</h2>
<hr />
<div class="container">
    <img src="~/Images/appointment.jpg" />
</div>
<br />
<hr />
<div class="container center" style="color:#9FA8DA">
    <h4>
        <p>
            This software appointment management system is a software which can be very helpfull for lots of company
            around. This is a SAAS based software for managing appointment. This Software can
            save lots of time which otherwise would be wasted by waiting in taking appointment.
        </p>
        <p>Using Appointment management system Company can manage the appointment of each VIP's. Moreover VIP's Will be able to schedule their available timing based on their needs.</p>
    </h4>
</div>

