@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Appointment Scheduler</h1>
    <p class="lead">Appointment management system is a software which can be very helpfull for lots of company around. This is a SAAS based software for managing appointment. This Software can save lots of time which otherwise would be wasted by waiting in taking appointment.

            Using Appointment management system Company can manage the appointment of each VIP's. Moreover VIP's Will be able to schedule their available timing based on their needs.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            appointment management system is a software which can be very helpfull for lots of company around. This is a SAAS based software for managing appointment. This Software can save lots of time which otherwise would be wasted by waiting in taking appointment.

            Using Appointment management system Company can manage the appointment of each VIP's. Moreover VIP's Will be able to schedule their available timing based on their needs.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Easy For Companies</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

